.contain-details{
    min-width: 100%;
    min-height: 50vh;
    padding: 30px;
}
.nametitle-andsvg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svgs{
    margin-right: 120px;
}

.contain-info-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.foto-detail{
    height: 350px;
    object-fit: cover;
    margin-right: 5%;
}

.texto-witch{
    width: 400px;
}

.addcart-detail{
    width: 160px;
    padding: 0.2rem;
    border-radius: 6mm;
    margin-top: 0.5rem;
    background-color: #c1b8ae;
    border: none;
}


.texto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}