.logoCart{
  width: 50px;
    height: 50px;
    margin-top: 2rem;
    margin-right: 0.7rem;
}
.containerLoginCartandUser{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 662px) {
    .containerLoginCartandUser{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 4rem;
    }
  }

  .linkNav{
    text-decoration: none;
    color: #000000b3;
  }
  .linkNav:hover{
    color: rgb(101,76,59);
  }
  
  .flex{
    display: flex;
  }
  .column{
    flex-direction: column;
  }
  .align-center{
    align-items: center;
    align-content: center;
  }
  .bt-nav{
    color: white;
    font-size: 15px;
  }
  
.g-5 {
  gap: 5px;
}
.photo-user{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
 
}

.btnDespl {
  background-color: white;
  opacity: 0.9;
  border-radius: 6px;
}
.justify-center{
  justify-content: center;
}
.gap-0-5{
  gap: 0.5;
}
.text-black{
  color: black;
}
/* .style-profile-center{
  border: solid 1px black;
  
} */
.containerUserLogin{
margin-top: 2rem;
}
