.container-services {
    display: flex;
    justify-content: space-around;
    /* width: 80%; */
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    padding-right: 2.2rem;
}


.service{
    display: flex;
    gap: 6rem;
}

.services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-right: 1px solid #303030;
    height: 9rem;
    /* padding-right: 4.8rem; */
}
.services-text h6{
    font-size: 22px;
}
.services-text p{
    font-size: 16px;
}

.middle{
    width: 38%;
}
.right{
    border: none;
}
@media screen and (max-width:1239px){
    .container-services{
        margin-top: 0px;   
    }
}

@media screen and (max-width:1001px){
    .container-services{
        display: none;   
    }
}
