.check-filter-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-all-products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
    justify-content: center;
}
.buttonNewProduct{
    margin-bottom: 2rem;
    display: flex;
    justify-content: end;
    margin-right: 5rem;
}
