@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


.main-body {
    font-family: 'Kumbh Sans',
        sans-serif;
    display: flex;
    margin: 2rem;
    align-items: center;
    min-height: 50vh;
    background-repeat: no-repeat, no-repeat;
    background-position: right 48vw bottom 40vh,
        left 45vw top 44vh;
}

.img-banner-profile {
    width: 500px;
    height: 250px;
    margin-top: 2px;
    border-radius: 9px;
    object-fit: cover;
    object-position: top;
}

.containerProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 5px 5px 5px hsl(32, 13%, 72%);
    width: 45%;
}

.wrapper {
    max-width: 500%;
    background-color: #FFF;
    border-radius: 9px;
    overflow: hidden;
    margin: 2rem;
}

.content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #FFF;
    margin-top: -52px;
    margin-bottom: 20px;
}

.content h2 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content h2 span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.content p {
    color: hsl(227, 10%, 46%);
    font-size: 13px;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid hsla(227, 10%, 46%, 0.2);
    padding: 30px 50px;
    margin-top: 30px;
}

.footer p.num {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-bottom: 5px;

}

.photo-user {
    object-fit: contain;
}

.labelProfile {
    font-size: 13px;
    width: 75%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttonRegister {
    margin-top: 25px;
}

@media screen and (max-width:750px) {
    .containerProfile {
        width: 70%;
    }
}