.div-shop-products {
    width: 100%;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(https://cdn.shopify.com/s/files/1/0259/4835/6663/files/Shop_All_Collections_3x1_round1.jpg?v=1659444353);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-shop-products{
    font-size: 56px;
    color: white;
}