* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formEditProduct {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 40%;
  box-shadow: 5px 5px 5px 5px hsl(32, 13%, 72%);
  justify-content: center;
  align-items: center;
  padding: 1rem;

}

.containerForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  justify-content: space-evenly;
}

.labelRegister {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-bottom: 0.5rem;
  padding-top: 0.3rem;
}

.inputRegister {
  width: 100%;
  height: 30px;
  margin-top: 0.15rem;
  border-radius: 8px;
  border: 1px solid #52646a;
}

.inputRegister::placeholder {
  color: #52646a;
  padding: 0.5rem;
}

.registerP {
  margin-top: 4px;
  margin-bottom: 7px;
}

.buttonRegister {
  padding: 0.5rem;
  border-radius: 9px;
  background-color: #5c195d;
  font-size: medium;
  color: #f9f9f9;
  border: none;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonRegister:hover {
  background-color: #c3acbe;
}

@media screen and (max-width:750px) {
  .containerForm {
    flex-direction: column;
    gap: 2rem;
  }

  .formEditProduct {
    width: 70%;
  }
}