.container-filters {
    width: 100%;
    display: flex;
    justify-content: center;
}

.filter-products {
    width: 88%;
    padding: 22px 16px;
    border-top: 1px solid #15297c;
    border-bottom: 1px solid #15297c;
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.selects-products {
    width: 190px;
    border-radius: 9mm;
    padding: 0.2rem;
}

@media screen and (max-width: 600px) {
    .filter-products {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

}

.inputSearch {
    margin-left: 1rem;
    border-radius: 9mm;
    padding: 0.2rem;
}

.inputSearch::placeholder {
    padding-left: 1rem;

}