.row-contain{
    height: 320px;
    margin: 50px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
.rowprod-list-style-none{
    text-decoration: none;
    color: white;
}
.rowprod-list-style-none:hover{
    color: white;
}
.container-item{
    color: white;
    font-size: 34px;
}

.container-item:hover{
    opacity: 0.7;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s ease-out;
}

.left-item{
    width: 400px;
    height: 100%;
    background-image: linear-gradient(rgba(189, 176, 176, 0.329), rgba(10, 10, 1, 0.5)),url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/home-office-decor-ideas-1611764047.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-item{
    width: 400px;
    height: 100%;
    background-image: linear-gradient(rgba(189, 176, 176, 0.329), rgba(10, 10, 1, 0.5)),url('https://i5.walmartimages.com/asr/dbb9ef33-d59d-4d26-bec8-ecf95a255193.cf1f306be53e188c47860027ede849a9.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;  
}


.right-item{
    width: 400px;
    height: 100%;
    background-image: linear-gradient(rgba(189, 176, 176, 0.329), rgba(10, 10, 1, 0.5)),url('https://media.architecturaldigest.com/photos/5abbf4772589ce07049dd6a5/16:9/w_3456,h_1944,c_limit/Level%20Frames%20-%20online%20custom%20framing%20artwork%20and%20photos.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1290px){
    .left-item, .right-item, .mid-item{
        width: 360px;
    }
}
@media screen and (max-width:1118px){
    .left-item, .right-item, .mid-item{
        width: 100%;
    }
    .row-contain{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .container-item{
        width: 100%;
        height: 320px;
    }
    .left-item, .mid-item{
        background-position: center;
    }
    .right-item{
        background-position: bottom;
    }
}

