* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerCardsComments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  min-height: 30vh;
  box-shadow: 0 5px 15px rgba(50, 50, 50, 0.438);
  border-radius: 10px;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.containerAllCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imgForum {
  width: 90%;
  height: 200px;
  border-radius: 1rem;
  object-fit: cover;
}

.textForum {
  width: 80%;
  padding: 1rem;
  text-align: center;
}

.imgAvatar {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  background-color: white;
}

.userForum {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.nameForum {
  margin-top: 1rem;
}

.containerAllForum {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.containerButtonForum {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonForum {
  padding: 0.5rem;
  border-radius: 9px;
  background-color: #5c195d;
  font-size: 13px;
  color: #f9f9f9;
  border: none;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonForum:hover {
  background-color: #a770b2;
}

.dateForum {
  color: #817f7e;
}

.formForum {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  box-shadow: 0 5px 15px rgba(50, 50, 50, 0.438);
  margin-top: 1.5rem;
}

.labelCommentForum {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.inputForum {
  width: 100%;
  height: 2rem;
  border-radius: 9px;
}

.ButtonCommentForm {
  height: 2rem;
  border-radius: 9px;
  background-color: #5c195d;
  font-size: small;
  color: #f9f9f9;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonSendCommentForm {
  width: 100%;
  height: 2rem;
  border-radius: 9px;
  background-color: #5c195d;
  font-size: medium;
  color: #f9f9f9;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ButtonSendCommentForm:hover {
  background-color: #a770b2;
}

.ButtonCommentForm:hover {
  background-color: #a770b2;
}

.forumBanner {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .containerCardsComments {
    width: 70%;
  }

  .formForum {
    width: 55%;
  }
}