
.paymentsBanner{
    width: 100%;
    margin-bottom: 1.5rem;
}
.buttonDeletePayments{
    padding: 0.2rem;
    border-radius: 6mm;
    margin-top: 0.5rem;
    background-color: #c1b8ae;
    border: none;
    width: 80%;
}
@media screen and (max-width: 1875px){
    .body-payments {
        font-family: "Poppins", sans-serif;
        height: 137vh;
        width: 70%;
        margin: 0px auto;
        padding: 50px 0px 0px;
        color: #4E5150;
        }
}
@media screen and (max-width: 768px){
    .body-payments {
        font-family: "Poppins", sans-serif;
        height: 293vh;
        width: 70%;
        margin: 0px auto;
        padding: 50px 0px 0px;
        color: #4E5150;
        }
}
@media screen and (max-width: 570px){
    .body-payments {
        font-family: "Poppins", sans-serif;
        width: 70%;
        margin: 0px auto;
        padding: 50px 0px 0px;
        color: #4E5150;
        }
}