.card-change-color {
    position: relative;
    width: 320px;
    height: 480px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(50, 50, 50, 0.438);
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    left: 0;
    clip-path: circle(150px at 80% 20%);
    z-index: -2;
}

.gradient[color='blue'] {
    background: #31394e;
}

.gradient[color='pink'] {
    background: pink;
}

.gradient[color='brown'] {
    background: rgb(101, 76, 59);

}

.gradient[color='claro'] {
    background: #c1b8ae;
    z-index: 1;
}

.bg-watch {
    position: relative;
    height: 320px;
}

.watch {
    position: absolute;
    top: 200px;
    left: -80px;
    font-size: 8rem;
    opacity: 0.5;
    color: #303030;
    transform: rotate(-70deg);
}

.share {
    position: absolute;
    text-decoration: none;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 15px;
    background: #fff;
    color: #31394e;
    border-radius: 50%;
    text-align: center;
    font-size: 1.3rem;
    line-height: 50px;
    transition: .5s;
    padding: 1px;
    z-index: 2;
}

.share:hover {
    transform: scale(1.1);
}

.watch-img {
    max-width: 100%;
    position: absolute;
    width: 250px;
    left: 100px;
    opacity: 0;
    z-index: 2;
    border-radius: 10% 0% 50% 70%;
}

.watch-img.show {
    opacity: 1;
}

.info {
    position: relative;
    padding: 1px 20px;
    z-index: 3;
}

.watch-name {
    padding: 0 0 10px 0;
}

.title-name {
    margin-bottom: 6px;
    font-size: 23px;
    color: #303030;
}

.watch-name .new {
    padding: 3px 10px;
    background: #31394e;
    color: #fff;
    border-radius: 6mm;
    cursor: pointer;
}

.h3-color {
    /* font-size: 1.5; */
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
}

.color-container {
    display: flex;
    justify-content: space-between;
}

.more-and-buy {
    padding: 10px 10px;
    background: #31394e;
    color: #fff;
    border-radius: 6mm;
    cursor: pointer;
}

.icon-cart {
    display: flex;
    align-items: center;
}

@media screen and (max-width:1197px) {
    .card-change-color {
        width: 300px;
        height: 480px;
    }
}

@media screen and (max-width:526px) {
    .card-change-color {
        width: 100%;
    }

    .watch-img {
        max-width: 100%;
        position: absolute;
        width: 320px;
        left: 100px;
        border-radius: 10% 0% 50% 70%;
    }

    .gradient {
        clip-path: circle(150px at 80% 30%);
        top: 0;
    }
}