.countiner-style {
    width: 100%;
    height: 100%;
    position: relative;
}

.description {
    width: 600px;
    position: absolute;
    z-index: 2;
    color: aliceblue;
    text-shadow: 1px 1px 5px #303030;
    top: 25%;
    left: 10%;
}

.description h1 {
    font-size: 32px;
}

.description p {
    font-size: 22px;
}

.next-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-image span {
    width: 45px;
    height: 12px;
    background-color: rgb(179, 179, 179);
    margin-left: 10px;
    border-radius: 6mm;
    cursor: pointer;
    box-shadow: 3px 2px 2px rgba(73, 72, 72, 0.33);
}

@media screen and (max-width:746px) {
    .description{
       top: 60%;
    }

    .description h1 {
        font-size: 24px;
    }
    
    .description p {
        font-size: 16px;
    }

    .next-image span{
        width: 16px;
        height: 8px;
    }
}

@media screen and (max-width:684px){
    .description{
        width: 400px;
        top: 70%;
        left: 5%;
     }
}

@media screen and (max-width:424px){
    .description{
        width: 300px;
     }
    .next-image{
        margin-top: 10px;
     }
}